footer {
  .footer-wrapper {
    @apply bg-transparent py-4 relative z-10;

    &::before {
      @apply absolute content-[''] top-0 left-0 w-full h-full bg-primary opacity-[0.25] z-[-1];
    }
    .inner-footer {
      &.container {
        @apply max-w-[1440px] grid grid-cols-1 md:grid-cols-4 gap-3 lg:gap-5;

        > div:first-child {
          .footer-menu {
            @apply flex flex-col items-center gap-4;

            .menu-links {
              @apply flex flex-col gap-3;
              a {
                @apply inline-block transition duration-150;
                &:hover {
                  @apply text-primary scale-[1.2];
                }
              }
            }
          }
        }

        .store-info {
          @apply md:col-span-2 flex flex-col items-center text-center gap-3;

          .social-links {
            li {
              @apply duration-150 w-9 h-9 flex items-center justify-center border border-primary rounded-full overflow-hidden relative z-10;
              a {
                @apply w-full h-full;
              }
              &::before {
                @apply absolute content-[''] w-full h-full bg-primary opacity-20 z-[-1];
              }
              i {
                &::before {
                  @apply text-primary font-semibold text-base;
                }
              }
              &:hover {
                @apply scale-[1.2];
                i {
                  @apply rubberBand;
                }
              }
            }
          }

          .footer-menu-mobile {
            @apply w-full max-w-[300px];
            .footer-menu {
              @apply mt-6;
              .menu-links {
                @apply grid grid-cols-2 gap-x-8 gap-y-1 mt-4;
                a {
                  @apply text-center;
                }
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    @apply text-center py-2 bg-primary;
    p {
      @apply text-white/90 font-normal text-base;

      a {
        @apply text-slate-800 font-semibold;

        &:hover {
          @apply text-slate-800;
        }
      }
    }
  }
}

footer .footer-wrapper::before,
footer {
  border-top-left-radius: 100% 50px;
  border-top-right-radius: 100% 50px;
}
