.store-notify {
  display: none;
}
.store-header {
  transition: all 0.4s ease;
  .cart-wrapper {
    @apply w-10 h-10 relative;
    i {
      @apply text-2xl transition-all duration-300;
    }
    .s-cart-summary-wrapper {
      @apply absolute top-1 left-1 h-full w-full;
      #s-cart-icon {
        @apply hidden;
      }
    }
    &:hover {
      i {
        @apply text-primary;
      }
    }
  }

  #mainnav {
    .inner {
      @apply fadeInDown;
    }
  }
}
.nav-side {
  @apply shrink-0 rounded-md lg:bg-white transition duration-300;
  &:hover {
    box-shadow: 0px 1px 10px 3px #f1eeee;
  }
  li {
    @apply duration-200 hover:border-r-[0.45rem];
    border-color: var(--color-primary);
  }
}

.offers-notificaions {
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);

  .offers-animate {
    animation: changeColor 5s infinite alternate;
  }

  .offers-title {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: auto;
    max-height: 32px;
    line-height: 2rem;
  }

  .word {
    display: flex;
    grid-column: 2;
    grid-row: auto;
    span {
      display: inline-block;
      padding: 0 4px;
    }
  }
}

@for $i from 1 through 8 {
  .offers:nth-of-type(2) {
    span:nth-child(#{$i}) {
      animation: offers_1 6s ease-in-out both #{0.05 * $i}s infinite;
    }
  }
  .offers:nth-of-type(3) {
    span:nth-child(#{$i}) {
      animation: offers_2 6s ease-in-out both #{0.05 * $i}s infinite;
    }
  }

  .offers:nth-of-type(4) {
    span:nth-child(#{$i}) {
      animation: offers_3 6s ease-in-out both #{0.05 * $i}s infinite;
    }
  }
}

.s-user-menu-trigger {
  padding: 0;
  border-radius: 50%;
  .s-user-menu-avatar-wrap {
    img {
      padding: 4px;
      background-color: inherit;
    }
  }
}

.s-user-menu-red-dot .s-user-menu-avatar-wrap:after,
.s-user-menu-dropdown-item-badge {
  background-color: var(--color-primary);
}

.s-user-menu-dropdown-header-close {
  padding: 0.6rem;
  background-color: var(--color-primary);
  svg {
    fill: #fff;
  }
}

/* Top Nav */
.top-navbar {
  .topnav-has-bg & {
    @apply bg-[color:var(--topnav-bg)];
  }

  .topnav-has-gradient & {
    @apply bg-gradient-to-r from-[color:var(--topnav-gradient-from)] to-[color:var(--topnav-gradient-to)];
  }

  .btn-select-type-coins {
    @apply transition duration-300;
    &:hover {
      @apply scale-[1.05];
    }
  }

  .topnav-has-text-color & {
    @apply text-[color:var(--topnav-text-color)];
  }

  .s-search-input {
    @apply bg-gray-200/50 hover:bg-gray-200/70 border;
  }

  @media (max-width: 640px) {
    .s-search-results {
      @apply w-screen max-w-[100vw] rtl:-left-2.5 ltr:-right-2.5;
    }
  }

  .topnav-is-dark & {
    @apply bg-dark text-gray-300;

    .btn--circle-gray,
    .s-search-input {
      @apply bg-gray-100/10 hover:bg-gray-100/[0.15];
    }

    .topnav-link-item {
      @apply border-gray-300/10;
    }

    .s-search-input {
      @apply text-white;
    }
  }

  .search-btn {
    @apply grow sm:grow-0 justify-start md:justify-center;
  }

  .header-search {
    .voice-search-btn {
      transition-duration: 0.1s;
      &.is-recording {
        background-color: var(--color-primary);
        color: #ffffff;
      }
    }
    salla-search {
      .s-search-container {
        position: unset;
        border-top-left-radius: 9999px !important;
        border-bottom-left-radius: 9999px !important;
        .s-search-input {
          @apply hover:border-none #{!important};
          border-radius: 0 !important;
          -webkit-border-radius: 0 !important;
          -moz-border-radius: 0 !important;
          -ms-border-radius: 0 !important;
          -o-border-radius: 0 !important;
          border: none !important;
        }
        .s-search-results {
          @apply z-10 sm:w-[500px] max-w-none left-0 right-0;
          width: calc(100vw - 30px);
          &::-webkit-scrollbar {
            @apply w-1;
          }
          &::-webkit-scrollbar-track {
            @apply bg-gray-200 rounded-3xl;
          }
          &::-webkit-scrollbar-thumb {
            @apply bg-primary rounded-3xl;
          }
        }
      }
      @media screen and (max-width: 420px) {
        .s-search-container {
          min-width: 140px;
          max-width: 140px;
          .s-search-input {
            @apply hover:border-none #{!important};
            padding: 0 4px;
            width: 140px;
          }
        }
      }
    }
  }
}

// contacs menu items - pages menu items
.topnav-link-item {
  @apply inline-block transition duration-300 px-4 last:pe-0 py-px text-sm leading-none ltr:border-r rtl:border-l border-gray-200 ltr:last:border-0 rtl:last:border-0 hover:opacity-80;

  &.right-side {
    @apply first:ps-0;
  }
  &.nav-link-item {
    @apply bg-primary text-white text-base hover:bg-dark;
    padding: 0.5rem 1.7rem !important;
  }
}

/* Main Nav */
.main-nav-container {
  @apply -mb-[1rem] sm:-mb-[2rem];

  // Custom background Color
  .has-bg &,
  .has-bg & .sub-menu {
    @apply bg-[color:var(--mainnav-bg)];
  }

  // Custom text color
  .has-text-color & {
    @apply text-[color:var(--mainnav-text-color)];
  }

  // Dark mode
  .is-dark & {
    @apply bg-gray-800 text-gray-300;

    .dropdown-toggler,
    .dropdown__menu > div p {
      @apply text-gray-300;
    }

    .sub-menu,
    .dropdown__menu {
      @apply bg-gray-800 border-gray-300/10;
    }

    .sub-menu li a:hover,
    .dropdown__menu li a:hover,
    .menu-item.is-active,
    .has-children li a:hover,
    .has-children .has-children:hover > a {
      @apply bg-gray-200/10;
    }

    .dropdown__menu > div {
      @apply border-gray-300/10;
    }

    .product-entry {
      @apply bg-gray-800 border border-gray-300/10;

      .product-entry__title a:not(:hover) {
        @apply text-gray-300;
      }
    }
  }
}

.menu-item {
  @apply flex items-center px-6 py-2.5 sm:text-sm text-gray-500 transition-colors duration-300 hover:bg-gray-200/30;

  &.logout {
    @apply text-red-400;
  }

  &.is-active {
    @apply text-primary bg-gray-200/20;
  }
}

/* Sticky Header */
.main-nav-container {
  &.animated {
    .inner {
      transition: top 0.5s, transform 0.5s, -webkit-transform 0.5s, opacity 0.4s;
    }
  }

  &.fixed-pinned {
    .inner {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 29;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      transform: translate3d(0, -100%, 0);

      @media (max-width: 1024px) {
        transform: none;
        top: -70px;
      }
    }
  }
  &.fixed-header {
    .inner {
      transform: translate3d(0, 0, 0);

      @media (max-width: 1024px) {
        transform: none;
        top: 0;
      }
    }
  }
}

.navbar-brand {
  @apply items-center flex;
  img {
    @apply w-auto max-w-[6rem] max-h-[4.5rem] md:max-w-[8rem] lg:max-w-none lg:max-h-[5.5rem] lg:w-[10rem] object-contain;
  }
}
.navbar-brand.navbar-brand-desktop {
  @apply hidden lg:inline;
}

// Mainnav cart icon
.header-btn {
  @apply transition duration-150 flex items-center gap-2 border-none outline-none hover:text-primary;
  svg {
    @apply transition duration-150;
  }
  &:hover {
    svg {
      path {
        fill: var(--color-primary);
      }
    }
  }

  &__icon {
    @apply text-xl w-10 h-10 rounded-full border border-white flex items-center justify-center text-white;
    &.icon {
      @apply mr-[9px] rtl:ml-[9px] rtl:mr-[unset];
    }
  }
  span {
    @media (max-width: 768px) {
      @apply hidden;
    }
  }
}

salla-user-menu {
  @apply shrink-0;
}

// cart summary
.s-cart-summary-total {
  @apply text-primary font-[600];
}

.s-cart-summary-total {
  @apply hidden;
}

.s-cart-summary-wrapper {
  #s-cart-icon {
    .s-cart-summary-icon {
      svg {
        @apply fill-dark w-[1.4rem] h-[1.6rem] transition-all duration-300 hover:fill-primary;
      }
    }
  }
  .s-cart-summary-count {
    @apply ltr:left-3 rtl:-right-2 bg-primary;
    top: -0.4rem;
    width: 19px;
    height: 19px;
    line-height: 19px;
  }
}

.sicon-user-circle {
  @apply text-xl transition-all duration-300;
}

.s-cart-summary-total {
  @apply text-primary font-[600] sm:text-lg whitespace-nowrap;
}

#nav-cart {
  @apply flex items-center ms-4 relative whitespace-nowrap;

  .icon {
    @apply me-2;
  }

  span {
    @apply absolute top-1 rtl:-right-2 ltr:-left-2;
  }
}

#compare-modal {
  .s-modal-body {
    @media (max-width: 780px) {
      height: 100vh;
      overflow-y: auto;
    }
  }
}

#compare-products-container .products-wrapper.hidden {
  display: none !important;
}

#compare-modal-loading {
  width: 60px;
  height: 60px;
  border: 2px solid #aeaeae;
  border-top: 2px solid #323232;
  border-radius: 50%;
  animation: spin 1.6s linear infinite;
  -webkit-animation: spin 0.8s linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 18px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.main-menu .sub-menu ul > li:not(:first-child) > .sub-menu {
  width: auto !important;
}
.main-menu li > a > span {
  white-space: nowrap !important;
}
