html {
  scroll-behavior: smooth;
}

// using salla.document.onClick(...), become effective when all children are none pointer events.
.cursor-pointer * {
  pointer-events: none;
}

.flip-x {
  transform: scaleX(-1);
}

input[type='file'] {
  display: none;
}

body {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply focus:ring-0;
  }
}
body {
  @apply overflow-y-auto bg-white;
  &::-webkit-scrollbar {
    @apply w-[11px];
  }
  &::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
}

salla-products-list .s-products-list-wrapper {
  @apply grid-cols-2 xs:grid-cols-3 sm:!grid-cols-4 lg:!grid-cols-5 xl:!grid-cols-6 gap-y-3.5 gap-x-2;
}
salla-products-list.horizontal-products .s-products-list-wrapper {
  @apply grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type='submit'] {
  -webkit-appearance: listitem; // safari fix, none: disable css on web component
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.unicode {
  unicode-bidi: plaintext;
}

.spinner-loader {
  border-right-color: var(--color-primary) !important;

  &.reverse {
    border-right-color: #9f7171 !important;
    background-color: #f98181;
  }
}

.hide-scroll {
  /* hide scrollbar but allow scrolling */
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
}
// Customize scrollbar
.mini-scroll-bar {
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 22px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 22px;
  }
}
@media (min-width: 640px) {
  salla-slider[type]:not(.hydrated) > div > div,
  salla-slider[type]:not(.hydrated) .swiper > div > div > div,
  .carousel-slider .swiper-wrapper > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.remove-item-btn:after {
  content: '\ea47';
  font-family: 'sallaicons' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cart-thumb {
  position: fixed;
  z-index: 30;
  transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

// hide chat tags
body {
  &.fslightbox-open,
  &.modal-open {
    #tidio-chat-iframe,
    .fb_reset,
    [id^='gb-widget'] {
      display: none !important;
    }
  }

  // &.modal-open {
  //   #tidio-chat-iframe, .fb_reset, [id^=gb-widget] {
  //     display: none !important;
  //   }
  // }
}

// Loading Btn state
.loader {
  &:before {
    content: '';
    opacity: 1;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: var(--color-primary);
    border-bottom-color: #eee;
    border-left-color: var(--color-primary);
    border-right-color: #eee;
    animation: loader 1s ease-in-out infinite;

    .btn--danger & {
      border-top-color: #ff6767;
      border-left-color: #ff6767;
    }
  }

  &--small {
    &:before {
      width: 16px;
      height: 16px;
    }
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

@keyframes pulse-anime {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.15, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse-anime {
  animation-name: pulse-anime;
  animation-timing-function: ease-in-out;
}

/*
** Single page
*/
.content {
  .content-entry {
    img {
      margin: 15px 0 25px;
    }
    ul,
    li {
      list-style: inherit !important;
    }
    ol {
      list-style: auto !important;
    }
  }
}

salla-modal {
  z-index: 9999 !important;
  &:not(.hydrated) {
    // hide modal component till it was loaded
    display: none;
  }
}

// grid trigger
.grid-trigger {
  @apply cursor-pointer mx-1 text-xl w-10 h-10 rounded-md flex items-center justify-center text-gray-400;
}

// center classes
.flex-center {
  @apply flex justify-center items-center;
}

.center-between {
  @apply flex justify-between items-center;
}

.grow-0 {
  flex-grow: 0 !important;
}

.basis-0 {
  flex-basis: 0;
}

// Gradient Background
.gradient-bg {
  @apply from-primary to-primary-d;

  [dir='ltr'] & {
    @apply bg-gradient-to-r;
  }

  [dir='rtl'] & {
    @apply bg-gradient-to-l;
  }

  @media (max-width: 1024px) {
    &.profile-header {
      background-image: none;

      .breadcrumbs {
        a,
        span,
        .arrow {
          @apply text-gray-600;
        }
      }
    }
  }
}

// Small badge
.badge {
  @apply p-1 min-w-[20px] h-5 rounded-full inline-flex items-center justify-center text-xs;

  &--red {
    @apply bg-red-400 text-white;
  }
}

// copy icon
.copy-icon {
  @apply text-xs;
}

.s-localization-modal-inner {
  width: 100%;
}

.s-verify-back {
  top: 0.5rem;
  svg {
    max-width: 18px;
    fill: rgba(107, 114, 128, var(--tw-text-opacity));
  }
}

[dir='rtl'] .s-verify-back {
  right: 0.5rem;
}

[dir='ltr'] .s-verify-back {
  left: 0.5rem;
}

@media (max-width: 639px) {
  .s-verify-back {
    display: none;
  }
}

// cart submit actions buttons
.cart-submit-wrap {
  @apply flex ltr:flex-wrap justify-between items-center -mx-[5px] gap-2.5;

  > * {
    @apply grow mx-[5px];
  }
}

// Custom Css
.custom-light-shadow {
  box-shadow: 0 0px 1px 0 var(--color-primary);
}

.bg-color-primary-reverse {
  background-color: var(--color-primary-reverse);
}

.bg-primary {
  background-color: var(--color-primary);
}

.main-text-color {
  color: var(--color-primary);
}

.blog-slider__content {
  @apply p-4 rounded;
  background-color: #ffffff88;
  color: var(--color-primary);
}

// main title (section title)
.main-title {
  @apply text-lg lg:text-2xl mx-auto mb-4 md:mb-8 font-bold leading-[1.2] px-0 border-none text-[#44444D] w-fit z-10 relative #{!important};

  &::before {
    @apply content-[""] absolute w-[calc(100%+8px)] -left-[4px] bottom-1 lg:bottom-[7px] h-[7px] bg-primary opacity-30 rounded-2xl z-[-1];
  }
}

salla-slider .s-slider-block__title {
  @apply justify-center mb-0;
  &-right {
    @apply px-0 #{!important};

    h2 {
      @apply p-0 main-title;
    }
  }
}

.slider-arrows {
  @apply flex justify-between absolute top-[42%] w-full left-0 xl:w-[calc(100%+36px)] xl:-left-[18px] m-0 z-10 pointer-events-none;
  button {
    @apply w-9 h-9 bg-white/80 section-shadow border-none pointer-events-auto;
    svg {
      @apply fill-primary w-6;
    }
  }
  button.swiper-button-disabled {
    opacity: 0.5;
    svg {
      fill: #d1d5db !important;
    }
  }
}
.grid-4 {
  @apply grid-cols-2 grid-rows-3 gap-2 h-[450px];

  img {
    @apply w-[210px] max-w-[210px] h-full max-h-full object-cover border border-[#EEEEEE];
    box-shadow: 0px 4px 40px 0px #0000001a;
  }

  img:nth-child(2),
  img:nth-child(3) {
    @apply row-span-2;
  }
}

.btn-global-style {
  @apply block w-fit font-normal rounded-md text-[22px] py-[7px] px-[15px]  lg:text-2xl;
}

.shop-now-btn {
  @apply btn-global-style mt-8 lg:mt-10 bg-primary border text-white;
  border-color: var(--color-primary);
  &:hover {
    @apply bg-white text-primary;
    animation: jelloAnimate 1.5s ease-in 0s 1 normal forwards;
  }
}

.section-shadow {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.regular-price {
  &::before {
    @apply content-[''] absolute bg-[#969696] w-[110%] h-[1px] -left-[5%] top-1/2;
    rotate: -7deg;
  }
}

// If u have large paragrah this line will show only specific lines
.p-4-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; /* change this value to adjust number of lines */
}
.p-2-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* change this value to adjust number of lines */
}

.pulse-wave {
  animation-name: pulse-wave;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.expand {
  &::before,
  &::after {
    @apply absolute content-[''] w-0 bg-white/50 transition-all duration-[900ms] ease-linear opacity-100 pointer-events-none;
  }
  &::before {
    @apply bottom-0 top-0 left-[50%] right-[50%];
  }
  &::after {
    @apply bottom-[50%] top-[50%] left-0 right-0;
  }

  &:hover::before {
    @apply w-auto opacity-0 left-0 right-0;
  }
  &:hover::after {
    @apply w-auto opacity-0 top-0 bottom-0;
  }
}

.angle-r-t {
  @apply absolute top-0 -right-[11px] w-0 h-0;
  border-top: 10px solid transparent;
  border-right: 10px solid var(--color-primary);
  transform: rotate(180deg);
}
.angle-r-b {
  @apply absolute bottom-0 -right-[11px] w-0 h-0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--color-primary);
  transform: rotate(-90deg);
}
.angle-l-t {
  @apply absolute top-0 -left-[11px] w-0 h-0;
  border-top: 10px solid transparent;
  border-left: 10px solid var(--color-primary);
  transform: rotate(-180deg);
}
.angle-l-b {
  @apply absolute bottom-0 -left-[11px] w-0 h-0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--color-primary);
  transform: rotate(-180deg);
}

#preloader {
  align-items: center;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 999999;

  img {
    transition: all 0.5s ease-in-out;
    animation: heartBeat 1.3s infinite ease-in-out;
  }
  &.show-off {
    backdrop-filter: blur(0);
    pointer-events: none;
    img {
      opacity: 0;
    }
  }
}
.app-inner.show-app-suggest {
  header {
    padding-top: 80px;
  }
  .suggest-mobile-app {
    top: 0;
  }
}
// Animation global classes
.fadeInDown {
  animation: fadeInDown 0.5s ease-in-out;
}
.rubberBand {
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-fill-mode: both;
}
