{#
| Variable | Type | Description |
|--------------------------------|---------
|------------------------------------------------------------------------------|
| component | object | Contains merchant settings for fields from twilight.json `component` section |
| component.products | products[] | list of selected recommendation products | |
| component.title | string | section main title |
| component.background | image | section main title |
#}
<section class="s-block s-block--recommendation bg-gray-50">
    <div class="flex items-center gap-6 container">
        <div class="hidden md:block bg-stone-50">
            <img src="{{ component.background ? component.background : 'images/placeholder.png' | asset }}"
                alt="background-image" class="rounded-sm object-contain">
        </div>

        <div class="w-full md:w-[50%] lg:w-[62%] flex flex-col gap-6 md:my-8 py-5 md:px-6 lg:px-8 md:bg-white md:rounded-sm">
            <div>
                <h1 class="text-2xl sm:text-3xl text-primary">{{component.title}}</h1>
                <p class="mt-2 text-gray-600 font-semibold text-base">{{component.sub_title}}</p>
            </div>
            <salla-slider show-controls="true" id="slider-with-bg-{{ position }}"
                slider-config='{
                        "slidesPerView":1,
                        "spaceBetween":10,
                        "breakpoints": {
                            "320": {"slidesPerView":2},
                            "480": {"slidesPerView":3},
                            "640": {"slidesPerView":4},
                            "768": {"slidesPerView":2},
                            "1024": {"slidesPerView":3},
                            "1280": {"slidesPerView":4}
                        }
                    }'>
                <div slot="items">
                    {% for product in component.products %}
                    {% include 'pages.partials.product.card' %}
                    {% endfor %}
                </div>
            </salla-slider>
        </div>
    </div>
</section>