{#
| Variable | Type | Description |
|-------------|--------|----------------------|
| apps | array | |
| apps[].name | string | appstore, googleplay |
| apps[].url | string | |
#}
{% if apps|length %}
<div class="flex-1 flex flex-col justify-end gap-4 mt-6">
  <h3>{{trans('blocks.footer.download_apps')}}</h3>
  <div class="flex flex-col items-center gap-3 lg:gap-5">
    <div class="mobile-apps flex gap-3 lg:gap-5">
      {% for app in apps %}
      <a href="{{ app.url }}" rel="noreferrer">
        <img alt="{{ app.name }}" src="{{ ('images/'~ app.name ~'.png') | cdn }}" />
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}