{#
| Variable     | Type   | Description                                                        |
|--------------|--------|--------------------------------------------------------------------|
| links        | array  | List of active social links                                        |
| links[].name | string |                                                                    |
| links[].type | string | instagram, twitter, snapchat, tiktok, youtube, facebook, pinterest |
| links[].icon | string | Css class                                                          |
| links[].url  | string |                                                                    |
#}
<ul class="social-links flex gap-3">
  {% for link in links %}
    <li>
      <a href="{{ link.url }}" rel="noopener" class="flex items-center justify-center" title="{{ link.name }}" aria-label="{{ link.name }}">
          <i class="sicon-{{ link.type }}"></i>
      </a>
    </li>
  {% endfor %}
</ul>
